<ion-header>
  <ion-toolbar>
    <ion-buttons slot="start">
      <ion-menu-button></ion-menu-button>
    </ion-buttons>
    <ion-title>
      Home
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <ion-card class="slide-card">
    <ion-slides>
      <ion-slide>
        <img src="assets\imgs\slide1.jpg">
      </ion-slide>
      <ion-slide>
        <img src="assets\imgs\slide2.jpg">
      </ion-slide>
      <ion-slide>
        <img src="assets\imgs\slide3.jpg">
      </ion-slide>
    </ion-slides>
  </ion-card>
  <h4 class="h4_css">Hey Beautiful</h4>
  <ion-card class="p-card-css">
    <p class="welcome-p-css"> Welcome to YourSaathi a Counselling Platform for all the Women who are trying to best heal
      from things they do not discuss.</p>
  </ion-card>
  <h4 class="h4_css">What We Do</h4>
  <ion-card class="goal-card-css">
    <p class="welcome-p-css">
      A Bot to listen to their problems and to help them book their appointment with a counsellor.
      Anonymous counselling
      Face to face counselling
      A Forum to discuss your problems with a group of people
    </p>
  </ion-card>
  <h4 class="h4_css">Our Goal</h4>
  <ion-card class="p-card-css">
    <p class="welcome-p-css">
      A woman faces problems or challenges in her day to day life either socially or physically. By playing so many
      roles at the same time, be it as a mother, sister, daughter, wife and many more, she eventually loses her own
      identity or struggles to maintain it.Women often restricts themselves from disclosing their problems due to their
      family reputation. Therefore we came up with YourSaathi to emancipate women and to let her live her life with full
      dignity and choice.
    </p>
  </ion-card>
  <button (click)=aboutUs()> AboutUS </button>
</ion-content>