ion-toolbar{
  --ion-background-color:#f9627d!important;
  color: #fff;
}

.slide-card{
  background-color: gray;
}
.h4_css{
    text-align: center;
    font-weight: 600;
    font-size: 25px;
}
.p-card-css{
  background-color: gray;
}
.welcome-p-css{
  font-size: 18px;
  text-align: center;
  color: white;
}

.goal-card-css{
  background-color:#f9627d;
}